<%- errorMessagesFor(employee) %>
<div class="control-group">
   <%- form.label("firstName", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("firstName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("lastName", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lastName") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("managerId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("managerId") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("department", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("department") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("officePhone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("officePhone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("cellPhone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("cellPhone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("email", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("email") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("city", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("city") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("picture", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("picture") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("twitterId", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("twitterId") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("blogURL", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("blogURL") %>
   </div>
</div>
